* {box-sizing: border-box;}

[class*="col-"] {
  position:block;
  float:left;
  padding: 10px;
  width:100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes test {
  0% {
    background-image: url('./Images/Python-logo.png');
  }
  25% {
    background-image: url('./Images/javascript-logo.png');
  }
  50% {
    background-image: url('./Images/java-logo.png');
  }
  75% {
    background-image: url('./Images/c++.png');
  }
  100% {
    background-image: url('./Images/Python-logo.png');
  }
}

html, body {
  height: 100%;
  background-color: rgb(36, 46, 46)
}

u {
  background-color:rgba(0, 0, 0, 0);
}

i {
  background-color: #00000000;
}

li {
  position:relative;
  color:white;
}

a {
  color:white;
}

.div {
  margin:auto;
  height:auto;
}

.p {
  margin:auto;
  display:block;
}

#buttonBacks {
  position:relative;
  height:80px;
  background-color:rgb(36, 46, 46);
}

.dot {
  height:100px;
  width:50%;
  background-color: rgb(36, 46, 46);
  border-radius: 50%;
  display:block;
}

.widget {
    position:relative;
    width:75%;
    left:12.5%;
    font-family:monospace, serif;
    font-size:20px;
    height:60px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    background-color:rgba(35, 36, 39, 0.72);
    border-color:transparent;
}

.widget:hover {
    background-color: rgb(73, 114, 81);
}

.content {
  background-image: url('./Images/bg.png');
  background-size: 1250px;
  margin:auto;
  width:90%;
}

#ribbon {
  position:relative;
  width:90%;
  left:5%;
}

#bgAbMe {
  background-color:rgb(36, 46, 46);
}

#mainPic {
  position:relative;
  height:375px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  background-color: transparent;
  
}

#mainImg {
  position:relative;
  background-color: transparent;
}

#mainPicBg {
  width:100%;
  position:relative;
  height:350px;
  background-color:rgb(36, 46, 46);
}

#adamJohnes {
  position:relative;
  width:100%;
  text-align: center;
  color:rgb(255, 255, 255);
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size:60px;
}

#resume {
  position:relative;
  width:100%;
  text-align:center;
  font-size:32px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  font-family:monospace, serif;
}

#leftPic {
  position:relative;
  width:0%;
  height:80px;
  left:25%;
  top:30%;
  background-color:transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-animation: test 12s infinite;
          animation: test 12s infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

#rightPic {
  position:relative;
  width:0%;
  height:80px;
  left:25%;
  top:30%;
  background-color:transparent;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-animation: test 12s infinite;
          animation: test 12s infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

#welcome {
  width:100%;
  text-align:center;
  position:relative;
  font-family:monospace, serif;
  color:white;
  margin:auto;
  background-color: #00000000;
  font-size:54px;
  padding:5px;
}

#aboutMeText {
  width:100%;
  text-align:center;
  position:relative;
  font-family:monospace, serif;
  color:white;
  margin:auto;
  background-color: #00000000;
  font-size:38px;
  padding:20px;
}

/* Background HTML 
/
/
/
/
/
*/

#contentOne {
  height:1100px;
}

#contentTwo {
  transform:scaleY(-1);
}

#rowFlip {
  transform:scaleY(-1);
}

#questionOne {
  text-align:center;
  width:100%;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size:32px;
  padding:10px;
}

#sluPic {
  position:relative;
  background-color: rgb(125, 143, 133);
  padding:20px;
  height:150px;
  width:100%;
  border:4px;
  border-style:solid;
  border-color:rgb(36, 46, 46);
}

#ptPic {
  position:relative;
  left:30%;
  top:5px;
  width:30%;
  height:200px;
  transform:scaleX(-1);
}

#answerOne {
  position:relative;
  width:100%;
  height:200px;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size: 22px;
}

#siuePic {
  position:relative;
  background-color: rgb(125, 143, 133);
  padding:20px;
  left:25%;
  top:120px;
  width:50%;
  border:4px;
  border-style:solid;
  border-color:rgb(36, 46, 46);
}

#sePic {
  position:relative;
  top:120px;
  left:25%;
  width:50%;
}

#questionTwo {
  text-align:center;
  width:100%;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size:32px;
  padding:10px;
}

#answerTwo {
  position:relative;
  width:100%;
  height:200px;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size: 22px;
}

#hobbyList {
  position:relative;
  width:100%;
  height:200px;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size: 22px;
}

#pics {
  height:500px;
}

#chessPic {
  position:relative;
  top:175px;
  left:10px;
  width:60%;
  border-radius:50%;
}

#dogPic {
  position:relative;
  top:95px;
  left:135px;
  width:60%;
  transform:scaleX(-1)
}

#nflPic {
  position:relative;
  width:55%;
  bottom:2%;
}

#questionThree {
  text-align:center;
  width:100%;
  font-family:serif, 'Times New Roman', Times, Georgia;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size:32px;
  padding:10px;
}

#skillsListing {
  position:relative;
  width:100%;
  height:500px;
}

#answerHeading {
  text-align: center;
  font-size:20px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#answerList {
  list-style:none;
  text-align: center;
  padding:20px;
  font-size:24px;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}
/* Contact HTML
/
/
/
/
/
*/

#emailHeading {
  position:relative;
  text-align: center;
  font-size:40px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#emailBody {
  position:relative;
  padding:5px;
  width:100%;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size: 22px;
}

#emailPic {
  position:relative;
  width:90%;
  height:125px;
  left:5%;
}

#phoneHeading {
  position:relative;
  text-align:center;
  font-size:40px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#phoneBody {
  position:relative;
  padding:5px;
  width:100%;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  font-family: monospace, serif;
  text-shadow: 2px 0 #ffffff00, -2px 0 #00000000, 0 2px #00000000, 0 -2px #00000000,
               1px 1px #ffffff4a, -1px -1px #00000000, 1px -1px #00000000, -1px 1px #00000000;
  font-size: 22px;
}

#phonePic {
  position:relative;
  padding:5px;
  width:40%;
  height:125px;
  left:30%;
}

#linkedHeading {
  position:relative;
  text-align: center;
  font-size:40px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#linkedBody {
  position:relative;
  width:100%;
  overflow:hidden;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  font-family: monospace, serif;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-size: 22px;
}

#linkedPic {
  position:relative;
  padding:5px;
  width:40%;
  height:125px;
  left:30%;
}

/* Project HTML
/
/
/
/
/
*/

#contentFour {
  background-size: 1000px;
}

#calcHead {
  position:relative;
  text-align:center;
  font-size:40px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#calcPic {
  position:relative;
  padding:1px;
  width:100%;
  height:300px;
  border:12px;
  border-style:solid;
  border-color:rgb(36, 46, 46);
}

#calcBody {
  position:relative;
  overflow:hidden;
  padding:5px;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size: 22px;
}

#fRight {
  float:right;
}

#contentFive {
  background-size:1000px;
}

#nflHead {
  position:relative;
  text-align:center;
  font-size:40px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#spreadPic {
  position:relative;
  padding:1px;
  width:100%;
  height:400px;
  border:12px;
  border-style:solid;
  border-color:rgb(36, 46, 46);
}

#nflBody {
  position:relative;
  padding:5px;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size: 22px;
}

#contentSix {
  background-size:1300px;
}

#palletHead {
  position:relative;
  text-align:center;
  font-size:40px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#exInput {
  position:relative;
  text-align:center;
  font-size:16px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#inputPic {
  position:relative;
  padding:1px;
  width:80%;
  height:400px;
  border:12px;
  border-style:solid;
  border-color:rgb(36, 46, 46);
}

#exOutput {
  position:relative;
  text-align:center;
  font-size:16px;
  color:rgba(255, 255, 255, 0.809);
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
}

#palletPic {
  position:relative;
  padding:1px;
  width:80%;
  height:400px;
  border:12px;
  border-style:solid;
  border-color:rgb(36, 46, 46);
}

#palletBody {
  position:relative;
  padding:5px;
  text-align:center;
  color:white;
  margin:auto;
  background-color: #00000000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  font-family:monospace, serif;
  font-size: 22px;
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .content {
    background-size: 500px;
  }

  #mainPic {
    width:350px;
    height:350px;
    padding:8px;
    right:8%;
    bottom:8%;
  }

  #mainImg {
    left:33%;
    top:50px;
  }

  #mainPicBg {
    height:300px;
    width:300px;
  }

  #adamJohnes {
    top:30px;
  }

  #leftCon {
    position:relative;
    height:650px;
  }

  #leftPic {
    width:50%;
    height:175px;
    padding:100px;
  }

  #rightCon {
    position:relative;
    height:650px;
  }

  #rightPic {
    width:50%;
    height:175px;
    padding:100px;
  }

/*
/
/
/
background HTML
*/

  #contentOne {
    height:auto;
    background-size: 255px;
  }

  #sluPic {
    top:20px;
  }

  #siuePic {
    top:20px;
    height:150px;
  }

  #sePic {
    top:20px;
  }

  .arrow {
    position:relative;
    transform: translate(-50%, -50%);
    transform: rotate(270deg);
    cursor:pointer;
    width:10%;
    left:45%;
    bottom:30px;
    background-color:#00000000;
  }

  .arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  
  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  
  @keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
  }

  #answerTwo {
    font-size: 20px;
    padding:10px;
  }
  #hobbyList {
    bottom:60px;
    font-size:20px;
  }

  #chessPic {
    top:15%;
    left:20%;
  }

  #dogPic {
    top:5%;
    left:40%;
    bottom:25%;
  }

  #nflPic {
    width:35%;
    right:45%;
    bottom:17.5%;
  }

  /*
  /
  /
  /
  contactHTML
  / 
  */

  #contentThree {
    background-size:750px;
    width:50%;
    border:2px;
    border-style:solid;
    border-color:white;
  }

  .line {
    display:none;
  }

  #emailPic {
    height:200px;
    width:50%;
    left:25%;
  }

  #phonePic {
    height:200px;
    width:20%;
    left:40%;
  }

  #linkedPic {
    width:15%;
    left:42.5%;
  }

  /*ProjectHTML
  /
  /
  /
  /
  /
  */

  #contentFour {
    width:70%;
    background-size:350px;
  }

  #calcHeadHolder {
    position:relative;
  }

  #calcHead {
    width:750px;
    left:75%;
  }

  #calcPic {
    left:45%;
    top:40px;
  }

  #calcBodyHolder {
    position:relative;
    height:425px;
    left:12%;
  }

  #calcBody {
    top:20%;
    background-color: rgba(36, 46, 46, 0.401);
    transform:skew(5deg);
    text-align:center;
    font-size:26px;
    width:60%;
  }

  #contentFive {
    width:75%;
    background-size:450px;
  }

  #nflHeadHolder {
    position:relative;
    height:650px;
  }

  #nflHead {
    right:100%;
  }

  #spreadPic {
    height:500px;
    right:30%;
    width:80%;
    top:50px;
  }

  #nflBodyHolder {
    position:relative;
    width:55%;
    left:15%;
    top:70px;
  }

  #nflBody {
    background-color: rgba(36, 46, 46, 0.401);
    transform:skew(-5deg);
    text-align:center;
    font-size:26px;
    width:100%;
  }

  #contentSix {
    width:70%;
    background-size:1200px;
  }

  #palletHeadHolder {
    position:relative;
    width:75%;
    left:65%;
    height:1070px;
  }

  #palletHead {
    width:500px;
    left:50%;
  }

  #leftForms {
    position:relative;
    height:100px;
    width:350px;
    top:5%;
  }

  #palletBodyHolder {
    position:relative;
    width:75%;
    left:25%;
    top:150px;
  }

  #palletBody {
    background-color: rgba(36, 46, 46, 0.401);
    transform:skew(5deg);
    text-align:center;
    font-size:26px;
    width:80%;
  }
}